
body {
  margin: 0;
  padding:0;
  min-width: 320px;
  min-height: 100vh;
  background:#B9D6FE;
}

.title h2{
  padding:1rem 0;
  text-align:center;
  font-family: cursive;
  background:#25579D;
  color:#122239;
}


