

.spinner {
   width: 33.6px;
   height: 33.6px;
   animation: spinner-98imc8 2s infinite linear;
   background-color: #474bff;
   border-radius: 50%;
}

@keyframes spinner-98imc8 {
   0% {
      transform: scale(0) rotate(-45deg) translateY(0);
   }

   50% {
      transform: scale(1.25) rotate(960deg) translateY(100%);
   }

   100% {
      transform: scale(0) rotate(2000deg) translateY(0);
   }
}
